{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            森林的个人博客
        {% endblock %}
    </title>
    <meta name="keywords" content="个人博客"/>
    <meta name="description" content="杨青个人博客，"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->
    <script src="{% static 'js/scrollReveal.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    {% block mycss %}
    {% endblock %}
</head>
<body>
<header>
    <div class="logo" data-scroll-reveal="enter right over 1s"><a href="/"><img
            src="{% static 'images/logo.png' %}"></a></div>
    <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s">
        <a href="{% url 'index' %}"><span>首页</span><span class="en">Home</span></a>
        <a href="about.html"><span>关于我</span><span class="en">About</span></a>
        <a href="manshenghuo.html"><span>慢生活</span><span class="en">Life</span></a>
        <a href="learn.html"><span>碎言碎语</span><span class="en">Doing</span></a>
        <a href="mbfx.html"><span>模板分享</span><span class="en">Share</span></a>
        <a href="learn.html"><span>学无止境</span><span class="en">Learn</span></a>
        <a href="gbook.html"><span>留言</span><span class="en">Saying</span></a>
{#        {% if request.session.username %}#}
{#            <a href=""><span>欢迎 {{ request.session.username }}</span><span class="en">User</span></a>#}
        {% if request.user.is_authenticated %}
            <a href=""><span>欢迎 {{ request.user.username }}</span><span class="en">User</span></a>
            <a href="{% url 'user:logout' %}"><span>注销</span><span class="en">Logout</span></a>
        {% else %}
            <a href="{% url 'user:login' %}"><span>登录</span><span class="en">Login</span></a>
            <a href="{% url 'user:register' %}"><span>注册</span><span class="en">Redies</span></a>
        {% endif %}
    </nav>
</header>

<article>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</article>

<footer>
    Design by DanceSmile <a href="/">蜀ICP备11002373号-1</a>
</footer>
<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        (function () {
            window.scrollReveal = new scrollReveal({reset: true});
        })();
    }
    ;
</script>
</body>
</html>