{% extends 'base.html' %}
{% load static %}
{% block title %}
    用户注册
{% endblock %}
{% block mycss %}
    <link href="{% static  'css/register.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- css files -->

    <!-- Online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <style>
        #icon{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 15px auto;
        }
        #icon-btn{
            margin: 0 auto;
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-w3l">
            <h1 class="logo-w3">用户中心</h1>
            <div class="w3layouts-main">
                <h2><span>个人信息</span></h2>
                <p>{{ msg }}</p>
                <form action="{% url 'user:center1' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <img src="{{ user.yunicon }}" id="icon" alt="">
                    <input type="file" id="icon-btn" value="更改头像" name="icon">
                    <input type="text" placeholder="用户名" value="{{ user.username }}" name="username" required="">
                    <input type="email" placeholder="邮箱" value="{{ user.email }}" name="email" required="">
                    <input type="text" placeholder="手机号码" value="{{ user.mobile }}" name="mobile" required="">
                    <input type="submit" value="提交更新" name="login">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block myjs %}
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <script>
        {#点击头像触发上传头像按钮#}
        $(function () {
            $("#icon").click(function(){
                $("#icon-btn").click()
            })
        })
    </script>
{% endblock %}