{% extends 'base.html' %}
{% load static %}
{% block title %}
    用户登录
{% endblock %}
{% block mycss %}
    <link href="{% static  'css/register.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <style>
        #query{
            height: 10px;
            line-height: 10px;
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-w3l">
            <h1 class="logo-w3">忘记密码</h1>
            <div class="w3layouts-main">
                <p>{{ msg }} {{ errors }}</p>
                <form action="{% url 'user:forget_pwd' %}" method="post"> {% csrf_token %}
                    {{ form.email }}
                    {{ form.captcha }}
                    <div id="query"></div>
                    <input type="submit" value="用户登录" name="login">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block myjs %}
    <script>
        $(function () {
            $("#id_email").attr("placeholder", "请输入邮箱");
            $("#id_captcha_1").attr("placeholder", "请输入验证码");
            {#验证码刷新#}
            $('.captcha').click(function () {
                var img = (this);
                $.getJSON('/captcha/refresh', function (data) {
                    {#Jquery中为什么报attr错误 : img.attr is not a function#}
                    img.setAttribute("src", data['image_url']);
                    {#img.attr('src', data['image_url']); #}
                    $('#id_captcha_0').val(data['key'])
                })
            });
            {#验证码验证#}
            var index = true
            $('#id_captcha_1').blur(function () {
                var $this = (this);
                var key = $('#id_captcha_0').val();
                var code = $(this).val();
                $.getJSON("{% url 'user:valide_code' %}", {key, code}, function (data) {
                    $('#result').remove();
                    if (data.status == 1) {
                        $("#query").text("验证码正确");
                    } else {
                        $("#query").text("验证码不正确");
                    }
                })
            });
        });
    </script>
{% endblock %}

